body {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    /* font-display: swap; */
    color: rgb(212, 255, 56);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.TimerAppBackground {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    position: absolute;
}